:root {
    --body-bg-color: white;
    --main-bg-color: white;
    --main-text-color: black;
    --main-border-color: #ccc;
    --input-focus-shd-color: black;
    --btn-bg-color: #808080;
    --btn-text-color: white;
    --btn-focus-shd-color: black;
    --btn-hover-bg-color: #b3b3b3;
    --btn-hover-text-color: #282828;
    --output-bg-color: #f4f4f4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] {
    --body-bg-color: #1f1f1f;
    --main-bg-color: #1f1f1f;
    --main-text-color: #e0e0e0;
    --main-border-color: #757575;
    --input-focus-shd-color: white;
    --btn-bg-color: #808080;
    --btn-text-color: white;
    --btn-focus-shd-color: black;
    --btn-hover-bg-color: #b3b3b3;
    --btn-hover-text-color: #282828;
    --output-bg-color: #f4f4f4;
}

body {
    background-color: var(--body-bg-color);
}

.main {
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    max-width: 600px;
    margin: 30px auto;
    padding: 40px 20px;
    border: 3px solid var(--main-border-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #707070;
}

input::placeholder {
    color: #707070;
}

input:hover {
    border-color: #3e3e3e;
}

input:focus {
    outline: none;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 1px var(--input-focus-shd-color);
}

button {
    padding: 10px;
    width: 100%;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:focus-visible {
    outline: none;
    border-radius: 0;
    box-shadow: 0 0 0 1px var(--btn-focus-shd-color);
}

button:hover {
    background-color: var(--btn-hover-bg-color);
    color: var(--btn-hover-text-color);
}

.error {
    color: red;
    margin-top: 10px;
}

.output {
    margin-top: 20px;
    background: var(--output-bg-color);
    padding: 15px;
    border-radius: 8px;
}

.hidden {
    display: none;
}