:root {
    --main-bg-color: white;
    --main-border-color: #ccc;
    --input-focus-color: black;
    --btn-bg: #808080;
    --btn-text: white;
    --btn-focus-shd: black;
    --btn-hover-bg: #b3b3b3;
    --btn-hover-text: #282828;
    --output-bg: #f4f4f4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #f5f5f5;
    --btn-bg: #333333;
    --btn-text: #f5f5f5;
}

.main {
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    max-width: 600px;
    margin: 30px auto;
    padding: 40px 20px;
    border: 3px solid var(--main-border-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 1px var(--input-focus-color);
}

button {
    padding: 10px;
    width: 100%;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:focus-visible {
    outline: none;
    border-radius: 0;
    box-shadow: 0 0 0 1px var(--btn-focus-shd);
}

button:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text);
}

.error {
    color: red;
    margin-top: 10px;
}

.output {
    margin-top: 20px;
    background: var(--output-bg);
    padding: 15px;
    border-radius: 8px;
}

.hidden {
    display: none;
}